.container-report-list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #f6f6f6;
  .scroll-wrap {
    flex: 1;
    overflow: hidden;
    .scroll {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
  }
}
