/*
 以下变量是默认值，如不需要修改可以不用给下面的变量重新赋值
 */
// 主色
$uni-primary: #FF0237;
$uni-primary-disable:mix(#fff,$uni-primary,50%);
$uni-primary-light: mix(#fff,$uni-primary,80%);

// 背景色
$uni-bg-color: #F5F5F8;

// 中性色
// 中性色用于文本、背景和边框颜色。通过运用不同的中性色，来表现层次结构。
$uni-main-color: #14151A; 			// 主要文字
$uni-secondary-color: #666666;	// 次要文字
$uni-extra-color: #A1A1A1;			// 辅助说明

// 边框颜色
$uni-border-1: #DBDBDB;

// 常规色
$uni-black: #000000;
$uni-white: #ffffff;
$uni-gradient: linear-gradient(126deg, #FE6407 0%, #FF0D36 100%);


/* 水平间距 */
$uni-spacing-sm: 10rpx;
$uni-spacing-base: 20rpx;
$uni-spacing-lg: 40rpx;

// 圆角
$uni-radius-sm: 8rpx;
$uni-radius-base: 24rpx;
$uni-radius-lg: 50%;

// 阴影
// $uni-shadow-sm:0 0 5px rgba($color: #d8d8d8, $alpha: 0.5);
// $uni-shadow-base:0 1px 8px 1px rgba($color: #a5a5a5, $alpha: 0.2);
// $uni-shadow-lg:0px 1px 10px 2px rgba($color: #a5a4a4, $alpha: 0.5);

// 蒙版
// $uni-mask: rgba($color: #000000, $alpha: 0.4);

